<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <title>My Appointment</title>
</head>
<body>
<div th:switch="${appointments}" class="container my-5">
  <div class="col-md-10">
    <h2 th:case="null">No record found!</h2>
    <div th:case="*">
      <table class="table table-striped table-responsive-md">
        <thead>
          <th>Appointment ID</th>
          <th>Student Name</th>
          <th>Description</th>
<!--          <th>Date</th>-->
<!--          <th>Edit</th>-->
<!--          <th>Delete</th>-->
<!--          <th>File</th>-->
        </thead>

            <tbody>
            <tr th:each="appointment": ${appointments}>
              <td th:text="${app.getId()}"></td>
              <td th:text="${book.getStudentName()}"></td>
              <td th:text="${book.getDescription}"></td>
<!--              <td>-->
<!--                <a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-warning">-->
<!--          &lt;!&ndash;         sec:authorize="hasAnyRole('ADMIN','PUBLISHER')">&ndash;&gt;-->
<!--                  <button class="btn btn-warning">Edit</button>-->
<!--                </a>-->
<!--              </td>-->
<!--              <td>-->
<!--                <a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">-->
<!--          &lt;!&ndash;         sec:authorize="hasRole('ADMIN')">&ndash;&gt;-->
<!--                  <button class="btn btn-danger">Delete</button>-->
<!--                </a>-->
<!--            </td>-->
           </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>

</html>