<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/bookingpage.css">

</head>
<body>
  <main class="main">
    <section class="navsection">
      <nav class="topnav ">
        <ul class="itemslist">
          <li><img class="logo" src="/static/logo.png" size=""></li>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Appointments</a></li>
          <li class="right"><a href="account.html">My Account</a></li>
        </ul>
      </nav>
    </section>  
  <section>
    <div class="leftpanelContainer">
      <div class="left-panel">
        <a href="#action1">Request Drug Inscription</a>
        <a href="#action2">Find A Drug</a>
        <a href="#action3">Meet A Consultant</a>
        <!-- Add more actions as needed -->
      </div>
      <div class="form-wrapper">
        <div class="Form-container">
          <h1>Booking Appointment with a Doctor</h1>

          <div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
<!--          <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-error" role="alert"></div>-->

          <form th:action="@{/appointmentForm}"  th:object="${appointment}" method="post">

            <label for="studentName">Student Name:</label>
            <input type="text" th:field="*{studentName}"  id="studentName" required>

            <label for="description">Description</label>
            <input type="text" th:field="*{description}"  id="description" required>

            <label for="date">Date</label>
            <input type="text"th:field="*{date}"  id="date">

            <input type="submit" class="btn btn-primary" value="Submit" required>
          </form>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div>
      Copyright © 2023 Kwame Nkrumah University Of Science and Technology. All Rights Reserved
    </div>
  </footer>
  </main>
  
</body>
</html>
