<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <style>
        div{
            width: 100%;
        }
        .picture img{
            margin-top: 8%;
            width: 400px;
            height: 400px;
            margin-left: 35%;
            margin-right: 45%;
            opacity: 60%;
        }
    </style>
</head>
<body>
 <div th:field="appointment.">
  <div class = "picture">
    <img src="/static/success.jpg" alt="confirmation-pic">
  </div>
<div>
     <h1 style="text-align: center; margin-top: 40px">Thank you!</h1>
     <h3 style="text-align: center;margin-top: 40px">Your appointment was successfully scheduled.
         Contact 054-976-7056 in case on any inconsistencies or cancellation</h3>
</div>
  <div style="text-align: center; margin-bottom:60px">
          <a href="/" class="btn btn-secondary">Return to the home page</a>
  </div>
 </div>
</body>

</html>