<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <style>
        div{
            width: 100%;
        }
        .picture img{
            margin-top: 8%;
            width: 400px;
            height: 400px;
            margin-left: 35%;
            margin-right: 45%;
            opacity: 60%;
        }
    </style>
</head>
<body>

 <h1 style="text-align: center">Thank you!</h1>

  <div class = "picture">
    <img src="/static/success.jpg" alt="confirmation-pic">
  </div>


    <div style=": center">
          <a href="/" class="btn btn-success">click here to return </a>
      </div>



</body>
</html>