<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a Drug Prescription</title>
    <link rel="stylesheet" href="/static/drugstyle.css">
    <link rel="stylesheet" type="text/css" href="/static/booking-page.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="#account">Account</a>
</div>
    <div class="container">
        <h1>Find a Drug Prescription</h1>
        <form action="#">
            <label for="prescription-name">Prescription Name:</label>
            <input type="text" id="prescription-name" name="prescription-name" placeholder="Enter prescription name">
            <button type="submit">Search</button>
        </form>
        <div class="results">
            <!-- Prescription results will be displayed here -->
            <!-- For this example, you can add some dummy content here -->
            <h2>Results</h2>
            <p>No prescriptions found.</p>
        </div>
        <div>
            <h2>
                Find the drug elsewhere on the internet
                <a href="https://phamacy.com" alt="Link to phamacy"> Click Here</a>
            </h2>
        </div>
    </div>
<footer class="footer" STYLE="margin-top: 280px">
    <div>
        Copyright © 2023 Kwame Nkrumah University Of Science and Technology. All Rights Reserved
    </div>
</footer>
</body>
</html>
