<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Log In</title>

    <script src="/static/app.js" defer ></script>
</head>
<body>
<nav class="navbar">
    <div class="row">
        <div class="nav-info">
            <div class="nav-logo">
                <img src="../static/logo.png" alt="" class="img">
            </div>
            <div class="nav-links">
                <a href="login">Login</a>
            </div>
        </div>
    </div>
</nav>
<main class="sign-up__page">
    <div class="row">
        <h2 class="heading animate__animated animate__fadeInLeftBig">WELCOME TO THE STUDENT HEALTH PORTAL</h2>
        <div class="info-page">
            <div class="container">
                <div class="box img-box">
                    <img src="/static/Young-Male-Doctor.svg" alt="" class="img">
                </div>
                <div class="box login-form">
                    <div class="title-box">
                        <h2>Login</h2>
                    </div>
                    <form onsubmit="LoginHandler(event)" class="control-box" th:action="@{/login}" method="post" th:object="${student}" >
                        <div class="input-box">
                            <input type="text"  class="form-control" placeholder="Username" id="username" name="username">
                            <input type="text" class="form-control" placeholder="Password"id="password" name="password">
                        </div>
                        <button type="submit" value="Log in" class="sign-in">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>